.app{
    display: flex;
    
}

.textarea{
    width: 50%;
    height: 100vh;
    padding: 20px;
    outline: none;
    background-color: #eff1f5;
}

.preview{
    width: 50%;
    height: 100vh;
    padding: 20px;
    background-color: #e8eaf1;
    
}